<p>Here are some icon fonts</p>

<i class="fa fa-camera-retro"></i><br>

<i class="fa fa-chevron-right"></i><br>

<i class="fa fa-quote-left fa-4x text-muted pull-left"></i><br>

<span class="fa-stack">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
