<script>

$( document ).on('turbolinks:load', function() {
  console.log("Turbolinks load event");
});

</script>



<div>
  current_user.id returned <%= current_user.id rescue "rescued"  %>
</div>
<br>
<div>
  Result:
</div>
<br>
<div class="result">
none
</div>
