<script>

$( document ).on('turbolinks:load', function() {
  console.log("Turbolinks load event");
    $.ajax({
        url: "/api/v1/books.json",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            $(".result").html( JSON.stringify(res) );
        }
    });
});

</script>



<div>
  current_user.id returned <%= current_user.id rescue "rescued"  %>
</div>
<br>
<div>
  Result:
</div>
<br>
<div class="result">
none
</div>
